In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

# Create

In [4]:
shop = Shop() # FirstShop(0), first_shop(x), firstShop(x), first_Shop(x)
shop.name = "투썸플레이스"
shop.telephone = "042-123-1234"

In [5]:
shop.save()

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-123-1234', '', '2021-12-01 08:30:34.068809', '2021-12-01 08:30:34.068809'); args=['투썸플레이스', '', '042-123-1234', '', '2021-12-01 08:30:34.068809', '2021-12-01 08:30:34.068809']

In [6]:
shop = Shop.objects.create(
    name = "셀프24시빨래방",
    telephone = "042-1234-4321",
)
shop

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 08:30:34.085765', '2021-12-01 08:30:34.085765'); args=['셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 08:30:34.085765', '2021-12-01 08:30:34.085765']

# Select

In [7]:
qs = Shop.objects.all()

In [8]:
for shop in qs :
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

108 셀프24시빨래방 042-1234-4321
107 투썸플레이스 042-123-1234
106 가계명#100 042-1234-9100
105 가계명#99 042-1234-9099
104 가계명#98 042-1234-9098
103 가계명#97 042-1234-9097
102 가계명#96 042-1234-9096
101 가계명#95 042-1234-9095
100 가계명#94 042-1234-9094
99 가계명#93 042-1234-9093
98 가계명#92 042-1234-9092
97 가계명#91 042-1234-9091
96 가계명#90 042-1234-9090
95 가계명#89 042-1234-9089
94 가계명#88 042-1234-9088
93 가계명#87 042-1234-9087
92 가계명#86 042-1234-9086
91 가계명#85 042-1234-9085
90 가계명#84 042-1234-9084
89 가계명#83 042-1234-9083
88 가계명#82 042-1234-9082
87 가계명#81 042-1234-9081
86 가계명#80 042-1234-9080
85 가계명#79 042-1234-9079
84 가계명#78 042-1234-9078
83 가계명#77 042-1234-9077
82 가계명#76 042-1234-9076
81 가계명#75 042-1234-9075
80 가계명#74 042-1234-9074
79 가계명#73 042-1234-9073
78 가계명#72 042-1234-9072
77 가계명#71 042-1234-9071
76 가계명#70 042-1234-9070
75 가계명#69 042-1234-9069
74 가계명#68 042-1234-9068
73 가계명#67 042-1234-9067
72 가계명#66 042-1234-9066
71 가계명#65 042-1234-9065
70 가계명#64 042-1234-9064
69 가계명#63 042-1234-9063
68 가계명#62 042-1234-9062
67 가계명#61 042-1234-9061
66 가계명#60 042-1234-9060
65 가계명#59 042-1234-9059
64 가계명#58 042-1234-9058
63 가계명#57 042-1234-9057
62 가계명#56 042-1234-9056
61 가계명#55 042-1234-9055
60 가계명#54 042-1234-9054
59 가계명#53 042-1234-9053
58 가계명#52 042-1234-9052
57 가계명#51 042-1234-9051
56 가계명#50 042-1234-9050
55 가계명#49 042-1234-9049
54 가계명#48 042-1234-9048
53 가계명#47 042-1234-9047
52 가계명#46 042-1234-9046
51 가계명#45 042-1234-9045
50 가계명#44 042-1234-9044
49 가계명#43 042-1234-9043
48 가계명#42 042-1234-9042
47 가계명#41 042-1234-9041
46 가계명#40 042-1234-9040
45 가계명#39 042-1234-9039
44 가계명#38 042-1234-9038
43 가계명#37 042-1234-9037
42 가계명#36 042-1234-9036
41 가계명#35 042-1234-9035
40 가계명#34 042-1234-9034
39 가계명#33 042-1234-9033
38 가계명#32 042-1234-9032
37 가계명#31 042-1234-9031
36 가계명#30 042-1234-9030
35 가계명#29 042-1234-9029
34 가계명#28 042-1234-9028
33 가계명#27 042-1234-9027
32 가계명#26 042-1234-9026
31 가계명#25 042-1234-9025
30 가계명#24 042-1234-9024
29 가계명#23 042-1234-9023
28 가계명#22 042-1234-9022
27 가계명#21 042-1234-9021
26 가계명#20 042-1234-9020
25 가계명#19 042-1234-9019
24 가계명#18 042-1234-9018
23 가계명#17 042-1234-9017
22 가계명#16 042-1234-9016
21 가계명#15 042-1234-9015
20 가계명#14 042-1234-9014
19 가계명#13 042-1234-9013
18 가계명#12 042-1234-9012
17 가계명#11 042-1234-9011
16 가계명#10 042-1234-9010
15 가계명#9 042-1234-9009
14 가계명#8 042-1234-9008
13 가계명#7 042-1234-9007
12 가계명#6 042-1234-9006
11 가계명#5 042-1234-9005
10 가계명#4 042-1234-9004
9 가계명#3 042-1234-9003
8 가계명#2 042-1234-9002
7 가계명#1 042-1234-9001
6 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-123-1234
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-123-1234

In [9]:
qs.order_by("id")  # 오름차순 정렬, qs.order_by("-id") 이렇게 하면 내림차순 ASC

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, <Shop: Shop object (21)>, <Shop: Shop object (22)>, '...(remaining elements truncated)...']>

# 데이터 뻥튀기

In [10]:
for i in range(1,101):
    name = f"가계명#{i}"
    telephone=f"042-1234-9{i:03}"
    Shop.objects.create(
    name=name,
    telephone=telephone,
)

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#1', '', '042-1234-9001', '', '2021-12-01 08:30:34.537004', '2021-12-01 08:30:34.537004'); args=['가계명#1', '', '042-1234-9001', '', '2021-12-01 08:30:34.537004', '2021-12-01 08:30:34.537004']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#2', '', '042-1234-9002', '', '2021-12-01 08:30:34.549967', '2021-12-01 08:30:34.549967'); args=['가계명#2', '', '042-1234-9002', '', '2021-12-01 08:30:34.549967', '2021-12-01 08:30:34.549967']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#3', '', '042-1234-9003', '', '2021-12-01 08:30:34.556949', '2021-12-01 08:30:34.556949'); args=['가계명#3', '', '042-1234-9003', '', '2021-12-01 08:30:34.556949', '2021-12-01 08:30:34.556949']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#4', '', '042-1234-9004', '', '2021-12-01 08:30:34.564928', '2021-12-01 08:30:34.564928'); args=['가계명#4', '', '042-1234-9004', '', '2021-12-01 08:30:34.564928', '2021-12-01 08:30:34.564928']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#5', '', '042-1234-9005', '', '2021-12-01 08:30:34.574901', '2021-12-01 08:30:34.574901'); args=['가계명#5', '', '042-1234-9005', '', '2021-12-01 08:30:34.574901', '2021-12-01 08:30:34.574901']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#6', '', '042-1234-9006', '', '2021-12-01 08:30:34.585872', '2021-12-01 08:30:34.585872'); args=['가계명#6', '', '042-1234-9006', '', '2021-12-01 08:30:34.585872', '2021-12-01 08:30:34.585872']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#7', '', '042-1234-9007', '', '2021-12-01 08:30:34.596860', '2021-12-01 08:30:34.596860'); args=['가계명#7', '', '042-1234-9007', '', '2021-12-01 08:30:34.596860', '2021-12-01 08:30:34.596860']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#8', '', '042-1234-9008', '', '2021-12-01 08:30:34.605820', '2021-12-01 08:30:34.605820'); args=['가계명#8', '', '042-1234-9008', '', '2021-12-01 08:30:34.605820', '2021-12-01 08:30:34.605820']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#9', '', '042-1234-9009', '', '2021-12-01 08:30:34.614800', '2021-12-01 08:30:34.614800'); args=['가계명#9', '', '042-1234-9009', '', '2021-12-01 08:30:34.614800', '2021-12-01 08:30:34.614800']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#10', '', '042-1234-9010', '', '2021-12-01 08:30:34.624770', '2021-12-01 08:30:34.624770'); args=['가계명#10', '', '042-1234-9010', '', '2021-12-01 08:30:34.624770', '2021-12-01 08:30:34.624770']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#11', '', '042-1234-9011', '', '2021-12-01 08:30:34.633753', '2021-12-01 08:30:34.633753'); args=['가계명#11', '', '042-1234-9011', '', '2021-12-01 08:30:34.633753', '2021-12-01 08:30:34.633753']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#12', '', '042-1234-9012', '', '2021-12-01 08:30:34.642722', '2021-12-01 08:30:34.642722'); args=['가계명#12', '', '042-1234-9012', '', '2021-12-01 08:30:34.642722', '2021-12-01 08:30:34.642722']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#13', '', '042-1234-9013', '', '2021-12-01 08:30:34.652707', '2021-12-01 08:30:34.652707'); args=['가계명#13', '', '042-1234-9013', '', '2021-12-01 08:30:34.652707', '2021-12-01 08:30:34.652707']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#14', '', '042-1234-9014', '', '2021-12-01 08:30:34.661683', '2021-12-01 08:30:34.661683'); args=['가계명#14', '', '042-1234-9014', '', '2021-12-01 08:30:34.661683', '2021-12-01 08:30:34.661683']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#15', '', '042-1234-9015', '', '2021-12-01 08:30:34.670648', '2021-12-01 08:30:34.670648'); args=['가계명#15', '', '042-1234-9015', '', '2021-12-01 08:30:34.670648', '2021-12-01 08:30:34.670648']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#16', '', '042-1234-9016', '', '2021-12-01 08:30:34.680619', '2021-12-01 08:30:34.680619'); args=['가계명#16', '', '042-1234-9016', '', '2021-12-01 08:30:34.680619', '2021-12-01 08:30:34.680619']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#17', '', '042-1234-9017', '', '2021-12-01 08:30:34.688597', '2021-12-01 08:30:34.688597'); args=['가계명#17', '', '042-1234-9017', '', '2021-12-01 08:30:34.688597', '2021-12-01 08:30:34.688597']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#18', '', '042-1234-9018', '', '2021-12-01 08:30:34.698572', '2021-12-01 08:30:34.698572'); args=['가계명#18', '', '042-1234-9018', '', '2021-12-01 08:30:34.698572', '2021-12-01 08:30:34.698572']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#19', '', '042-1234-9019', '', '2021-12-01 08:30:34.707546', '2021-12-01 08:30:34.707546'); args=['가계명#19', '', '042-1234-9019', '', '2021-12-01 08:30:34.707546', '2021-12-01 08:30:34.707546']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#20', '', '042-1234-9020', '', '2021-12-01 08:30:34.716524', '2021-12-01 08:30:34.717522'); args=['가계명#20', '', '042-1234-9020', '', '2021-12-01 08:30:34.716524', '2021-12-01 08:30:34.717522']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#21', '', '042-1234-9021', '', '2021-12-01 08:30:34.724504', '2021-12-01 08:30:34.724504'); args=['가계명#21', '', '042-1234-9021', '', '2021-12-01 08:30:34.724504', '2021-12-01 08:30:34.724504']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#22', '', '042-1234-9022', '', '2021-12-01 08:30:34.734474', '2021-12-01 08:30:34.734474'); args=['가계명#22', '', '042-1234-9022', '', '2021-12-01 08:30:34.734474', '2021-12-01 08:30:34.734474']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#23', '', '042-1234-9023', '', '2021-12-01 08:30:34.742455', '2021-12-01 08:30:34.742455'); args=['가계명#23', '', '042-1234-9023', '', '2021-12-01 08:30:34.742455', '2021-12-01 08:30:34.742455']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#24', '', '042-1234-9024', '', '2021-12-01 08:30:34.752427', '2021-12-01 08:30:34.752427'); args=['가계명#24', '', '042-1234-9024', '', '2021-12-01 08:30:34.752427', '2021-12-01 08:30:34.752427']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#25', '', '042-1234-9025', '', '2021-12-01 08:30:34.761420', '2021-12-01 08:30:34.761420'); args=['가계명#25', '', '042-1234-9025', '', '2021-12-01 08:30:34.761420', '2021-12-01 08:30:34.761420']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#26', '', '042-1234-9026', '', '2021-12-01 08:30:34.770379', '2021-12-01 08:30:34.770379'); args=['가계명#26', '', '042-1234-9026', '', '2021-12-01 08:30:34.770379', '2021-12-01 08:30:34.770379']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#27', '', '042-1234-9027', '', '2021-12-01 08:30:34.780353', '2021-12-01 08:30:34.780353'); args=['가계명#27', '', '042-1234-9027', '', '2021-12-01 08:30:34.780353', '2021-12-01 08:30:34.780353']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#28', '', '042-1234-9028', '', '2021-12-01 08:30:34.789328', '2021-12-01 08:30:34.789328'); args=['가계명#28', '', '042-1234-9028', '', '2021-12-01 08:30:34.789328', '2021-12-01 08:30:34.789328']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#29', '', '042-1234-9029', '', '2021-12-01 08:30:34.798304', '2021-12-01 08:30:34.798304'); args=['가계명#29', '', '042-1234-9029', '', '2021-12-01 08:30:34.798304', '2021-12-01 08:30:34.798304']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#30', '', '042-1234-9030', '', '2021-12-01 08:30:34.815259', '2021-12-01 08:30:34.815259'); args=['가계명#30', '', '042-1234-9030', '', '2021-12-01 08:30:34.815259', '2021-12-01 08:30:34.815259']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#31', '', '042-1234-9031', '', '2021-12-01 08:30:34.829228', '2021-12-01 08:30:34.829228'); args=['가계명#31', '', '042-1234-9031', '', '2021-12-01 08:30:34.829228', '2021-12-01 08:30:34.829228']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#32', '', '042-1234-9032', '', '2021-12-01 08:30:34.842186', '2021-12-01 08:30:34.842186'); args=['가계명#32', '', '042-1234-9032', '', '2021-12-01 08:30:34.842186', '2021-12-01 08:30:34.842186']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#33', '', '042-1234-9033', '', '2021-12-01 08:30:34.851163', '2021-12-01 08:30:34.851163'); args=['가계명#33', '', '042-1234-9033', '', '2021-12-01 08:30:34.851163', '2021-12-01 08:30:34.851163']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#34', '', '042-1234-9034', '', '2021-12-01 08:30:34.859142', '2021-12-01 08:30:34.859142'); args=['가계명#34', '', '042-1234-9034', '', '2021-12-01 08:30:34.859142', '2021-12-01 08:30:34.859142']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#35', '', '042-1234-9035', '', '2021-12-01 08:30:34.872106', '2021-12-01 08:30:34.872106'); args=['가계명#35', '', '042-1234-9035', '', '2021-12-01 08:30:34.872106', '2021-12-01 08:30:34.872106']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#36', '', '042-1234-9036', '', '2021-12-01 08:30:34.882081', '2021-12-01 08:30:34.882081'); args=['가계명#36', '', '042-1234-9036', '', '2021-12-01 08:30:34.882081', '2021-12-01 08:30:34.882081']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#37', '', '042-1234-9037', '', '2021-12-01 08:30:34.891056', '2021-12-01 08:30:34.891056'); args=['가계명#37', '', '042-1234-9037', '', '2021-12-01 08:30:34.891056', '2021-12-01 08:30:34.891056']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#38', '', '042-1234-9038', '', '2021-12-01 08:30:34.924966', '2021-12-01 08:30:34.924966'); args=['가계명#38', '', '042-1234-9038', '', '2021-12-01 08:30:34.924966', '2021-12-01 08:30:34.924966']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#39', '', '042-1234-9039', '', '2021-12-01 08:30:34.934942', '2021-12-01 08:30:34.934942'); args=['가계명#39', '', '042-1234-9039', '', '2021-12-01 08:30:34.934942', '2021-12-01 08:30:34.934942']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#40', '', '042-1234-9040', '', '2021-12-01 08:30:34.944925', '2021-12-01 08:30:34.944925'); args=['가계명#40', '', '042-1234-9040', '', '2021-12-01 08:30:34.944925', '2021-12-01 08:30:34.944925']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#41', '', '042-1234-9041', '', '2021-12-01 08:30:34.953904', '2021-12-01 08:30:34.954885'); args=['가계명#41', '', '042-1234-9041', '', '2021-12-01 08:30:34.953904', '2021-12-01 08:30:34.954885']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#42', '', '042-1234-9042', '', '2021-12-01 08:30:34.963864', '2021-12-01 08:30:34.964859'); args=['가계명#42', '', '042-1234-9042', '', '2021-12-01 08:30:34.963864', '2021-12-01 08:30:34.964859']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#43', '', '042-1234-9043', '', '2021-12-01 08:30:34.972837', '2021-12-01 08:30:34.972837'); args=['가계명#43', '', '042-1234-9043', '', '2021-12-01 08:30:34.972837', '2021-12-01 08:30:34.972837']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#44', '', '042-1234-9044', '', '2021-12-01 08:30:34.982811', '2021-12-01 08:30:34.982811'); args=['가계명#44', '', '042-1234-9044', '', '2021-12-01 08:30:34.982811', '2021-12-01 08:30:34.982811']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#45', '', '042-1234-9045', '', '2021-12-01 08:30:34.990790', '2021-12-01 08:30:34.990790'); args=['가계명#45', '', '042-1234-9045', '', '2021-12-01 08:30:34.990790', '2021-12-01 08:30:34.990790']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#46', '', '042-1234-9046', '', '2021-12-01 08:30:35.003769', '2021-12-01 08:30:35.003769'); args=['가계명#46', '', '042-1234-9046', '', '2021-12-01 08:30:35.003769', '2021-12-01 08:30:35.003769']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#47', '', '042-1234-9047', '', '2021-12-01 08:30:35.013731', '2021-12-01 08:30:35.013731'); args=['가계명#47', '', '042-1234-9047', '', '2021-12-01 08:30:35.013731', '2021-12-01 08:30:35.013731']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#48', '', '042-1234-9048', '', '2021-12-01 08:30:35.022704', '2021-12-01 08:30:35.022704'); args=['가계명#48', '', '042-1234-9048', '', '2021-12-01 08:30:35.022704', '2021-12-01 08:30:35.022704']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#49', '', '042-1234-9049', '', '2021-12-01 08:30:35.031680', '2021-12-01 08:30:35.031680'); args=['가계명#49', '', '042-1234-9049', '', '2021-12-01 08:30:35.031680', '2021-12-01 08:30:35.031680']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#50', '', '042-1234-9050', '', '2021-12-01 08:30:35.039658', '2021-12-01 08:30:35.039658'); args=['가계명#50', '', '042-1234-9050', '', '2021-12-01 08:30:35.039658', '2021-12-01 08:30:35.039658']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#51', '', '042-1234-9051', '', '2021-12-01 08:30:35.048636', '2021-12-01 08:30:35.048636'); args=['가계명#51', '', '042-1234-9051', '', '2021-12-01 08:30:35.048636', '2021-12-01 08:30:35.048636']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#52', '', '042-1234-9052', '', '2021-12-01 08:30:35.061611', '2021-12-01 08:30:35.061611'); args=['가계명#52', '', '042-1234-9052', '', '2021-12-01 08:30:35.061611', '2021-12-01 08:30:35.061611']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#53', '', '042-1234-9053', '', '2021-12-01 08:30:35.069581', '2021-12-01 08:30:35.069581'); args=['가계명#53', '', '042-1234-9053', '', '2021-12-01 08:30:35.069581', '2021-12-01 08:30:35.069581']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#54', '', '042-1234-9054', '', '2021-12-01 08:30:35.079551', '2021-12-01 08:30:35.079551'); args=['가계명#54', '', '042-1234-9054', '', '2021-12-01 08:30:35.079551', '2021-12-01 08:30:35.079551']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#55', '', '042-1234-9055', '', '2021-12-01 08:30:35.088527', '2021-12-01 08:30:35.088527'); args=['가계명#55', '', '042-1234-9055', '', '2021-12-01 08:30:35.088527', '2021-12-01 08:30:35.088527']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#56', '', '042-1234-9056', '', '2021-12-01 08:30:35.097506', '2021-12-01 08:30:35.097506'); args=['가계명#56', '', '042-1234-9056', '', '2021-12-01 08:30:35.097506', '2021-12-01 08:30:35.097506']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#57', '', '042-1234-9057', '', '2021-12-01 08:30:35.106480', '2021-12-01 08:30:35.106480'); args=['가계명#57', '', '042-1234-9057', '', '2021-12-01 08:30:35.106480', '2021-12-01 08:30:35.106480']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#58', '', '042-1234-9058', '', '2021-12-01 08:30:35.115477', '2021-12-01 08:30:35.115477'); args=['가계명#58', '', '042-1234-9058', '', '2021-12-01 08:30:35.115477', '2021-12-01 08:30:35.115477']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#59', '', '042-1234-9059', '', '2021-12-01 08:30:35.124433', '2021-12-01 08:30:35.124433'); args=['가계명#59', '', '042-1234-9059', '', '2021-12-01 08:30:35.124433', '2021-12-01 08:30:35.124433']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#60', '', '042-1234-9060', '', '2021-12-01 08:30:35.134424', '2021-12-01 08:30:35.134424'); args=['가계명#60', '', '042-1234-9060', '', '2021-12-01 08:30:35.134424', '2021-12-01 08:30:35.134424']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#61', '', '042-1234-9061', '', '2021-12-01 08:30:35.144389', '2021-12-01 08:30:35.144389'); args=['가계명#61', '', '042-1234-9061', '', '2021-12-01 08:30:35.144389', '2021-12-01 08:30:35.144389']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#62', '', '042-1234-9062', '', '2021-12-01 08:30:35.152358', '2021-12-01 08:30:35.152358'); args=['가계명#62', '', '042-1234-9062', '', '2021-12-01 08:30:35.152358', '2021-12-01 08:30:35.152358']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#63', '', '042-1234-9063', '', '2021-12-01 08:30:35.162331', '2021-12-01 08:30:35.162331'); args=['가계명#63', '', '042-1234-9063', '', '2021-12-01 08:30:35.162331', '2021-12-01 08:30:35.162331']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#64', '', '042-1234-9064', '', '2021-12-01 08:30:35.170309', '2021-12-01 08:30:35.170309'); args=['가계명#64', '', '042-1234-9064', '', '2021-12-01 08:30:35.170309', '2021-12-01 08:30:35.170309']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#65', '', '042-1234-9065', '', '2021-12-01 08:30:35.182282', '2021-12-01 08:30:35.182282'); args=['가계명#65', '', '042-1234-9065', '', '2021-12-01 08:30:35.182282', '2021-12-01 08:30:35.182282']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#66', '', '042-1234-9066', '', '2021-12-01 08:30:35.190255', '2021-12-01 08:30:35.190255'); args=['가계명#66', '', '042-1234-9066', '', '2021-12-01 08:30:35.190255', '2021-12-01 08:30:35.190255']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#67', '', '042-1234-9067', '', '2021-12-01 08:30:35.201227', '2021-12-01 08:30:35.201227'); args=['가계명#67', '', '042-1234-9067', '', '2021-12-01 08:30:35.201227', '2021-12-01 08:30:35.201227']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#68', '', '042-1234-9068', '', '2021-12-01 08:30:35.209205', '2021-12-01 08:30:35.209205'); args=['가계명#68', '', '042-1234-9068', '', '2021-12-01 08:30:35.209205', '2021-12-01 08:30:35.209205']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#69', '', '042-1234-9069', '', '2021-12-01 08:30:35.218182', '2021-12-01 08:30:35.218182'); args=['가계명#69', '', '042-1234-9069', '', '2021-12-01 08:30:35.218182', '2021-12-01 08:30:35.218182']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#70', '', '042-1234-9070', '', '2021-12-01 08:30:35.231149', '2021-12-01 08:30:35.232146'); args=['가계명#70', '', '042-1234-9070', '', '2021-12-01 08:30:35.231149', '2021-12-01 08:30:35.232146']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#71', '', '042-1234-9071', '', '2021-12-01 08:30:35.240122', '2021-12-01 08:30:35.240122'); args=['가계명#71', '', '042-1234-9071', '', '2021-12-01 08:30:35.240122', '2021-12-01 08:30:35.240122']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#72', '', '042-1234-9072', '', '2021-12-01 08:30:35.249098', '2021-12-01 08:30:35.249098'); args=['가계명#72', '', '042-1234-9072', '', '2021-12-01 08:30:35.249098', '2021-12-01 08:30:35.249098']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#73', '', '042-1234-9073', '', '2021-12-01 08:30:35.258075', '2021-12-01 08:30:35.258075'); args=['가계명#73', '', '042-1234-9073', '', '2021-12-01 08:30:35.258075', '2021-12-01 08:30:35.258075']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#74', '', '042-1234-9074', '', '2021-12-01 08:30:35.268047', '2021-12-01 08:30:35.268047'); args=['가계명#74', '', '042-1234-9074', '', '2021-12-01 08:30:35.268047', '2021-12-01 08:30:35.268047']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#75', '', '042-1234-9075', '', '2021-12-01 08:30:35.276027', '2021-12-01 08:30:35.276027'); args=['가계명#75', '', '042-1234-9075', '', '2021-12-01 08:30:35.276027', '2021-12-01 08:30:35.276027']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#76', '', '042-1234-9076', '', '2021-12-01 08:30:35.286998', '2021-12-01 08:30:35.286998'); args=['가계명#76', '', '042-1234-9076', '', '2021-12-01 08:30:35.286998', '2021-12-01 08:30:35.286998']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#77', '', '042-1234-9077', '', '2021-12-01 08:30:35.295975', '2021-12-01 08:30:35.295975'); args=['가계명#77', '', '042-1234-9077', '', '2021-12-01 08:30:35.295975', '2021-12-01 08:30:35.295975']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#78', '', '042-1234-9078', '', '2021-12-01 08:30:35.304950', '2021-12-01 08:30:35.304950'); args=['가계명#78', '', '042-1234-9078', '', '2021-12-01 08:30:35.304950', '2021-12-01 08:30:35.304950']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#79', '', '042-1234-9079', '', '2021-12-01 08:30:35.313931', '2021-12-01 08:30:35.313931'); args=['가계명#79', '', '042-1234-9079', '', '2021-12-01 08:30:35.313931', '2021-12-01 08:30:35.313931']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#80', '', '042-1234-9080', '', '2021-12-01 08:30:35.339857', '2021-12-01 08:30:35.339857'); args=['가계명#80', '', '042-1234-9080', '', '2021-12-01 08:30:35.339857', '2021-12-01 08:30:35.339857']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#81', '', '042-1234-9081', '', '2021-12-01 08:30:35.349831', '2021-12-01 08:30:35.349831'); args=['가계명#81', '', '042-1234-9081', '', '2021-12-01 08:30:35.349831', '2021-12-01 08:30:35.349831']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#82', '', '042-1234-9082', '', '2021-12-01 08:30:35.357810', '2021-12-01 08:30:35.357810'); args=['가계명#82', '', '042-1234-9082', '', '2021-12-01 08:30:35.357810', '2021-12-01 08:30:35.357810']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#83', '', '042-1234-9083', '', '2021-12-01 08:30:35.367787', '2021-12-01 08:30:35.367787'); args=['가계명#83', '', '042-1234-9083', '', '2021-12-01 08:30:35.367787', '2021-12-01 08:30:35.367787']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#84', '', '042-1234-9084', '', '2021-12-01 08:30:35.375761', '2021-12-01 08:30:35.375761'); args=['가계명#84', '', '042-1234-9084', '', '2021-12-01 08:30:35.375761', '2021-12-01 08:30:35.375761']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#85', '', '042-1234-9085', '', '2021-12-01 08:30:35.385746', '2021-12-01 08:30:35.385746'); args=['가계명#85', '', '042-1234-9085', '', '2021-12-01 08:30:35.385746', '2021-12-01 08:30:35.385746']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#86', '', '042-1234-9086', '', '2021-12-01 08:30:35.393713', '2021-12-01 08:30:35.394716'); args=['가계명#86', '', '042-1234-9086', '', '2021-12-01 08:30:35.393713', '2021-12-01 08:30:35.394716']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#87', '', '042-1234-9087', '', '2021-12-01 08:30:35.402687', '2021-12-01 08:30:35.402687'); args=['가계명#87', '', '042-1234-9087', '', '2021-12-01 08:30:35.402687', '2021-12-01 08:30:35.402687']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#88', '', '042-1234-9088', '', '2021-12-01 08:30:35.409669', '2021-12-01 08:30:35.409669'); args=['가계명#88', '', '042-1234-9088', '', '2021-12-01 08:30:35.409669', '2021-12-01 08:30:35.409669']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#89', '', '042-1234-9089', '', '2021-12-01 08:30:35.417649', '2021-12-01 08:30:35.417649'); args=['가계명#89', '', '042-1234-9089', '', '2021-12-01 08:30:35.417649', '2021-12-01 08:30:35.417649']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#90', '', '042-1234-9090', '', '2021-12-01 08:30:35.425627', '2021-12-01 08:30:35.425627'); args=['가계명#90', '', '042-1234-9090', '', '2021-12-01 08:30:35.425627', '2021-12-01 08:30:35.425627']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#91', '', '042-1234-9091', '', '2021-12-01 08:30:35.437601', '2021-12-01 08:30:35.437601'); args=['가계명#91', '', '042-1234-9091', '', '2021-12-01 08:30:35.437601', '2021-12-01 08:30:35.437601']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#92', '', '042-1234-9092', '', '2021-12-01 08:30:35.449565', '2021-12-01 08:30:35.449565'); args=['가계명#92', '', '042-1234-9092', '', '2021-12-01 08:30:35.449565', '2021-12-01 08:30:35.449565']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#93', '', '042-1234-9093', '', '2021-12-01 08:30:35.455546', '2021-12-01 08:30:35.455546'); args=['가계명#93', '', '042-1234-9093', '', '2021-12-01 08:30:35.455546', '2021-12-01 08:30:35.455546']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#94', '', '042-1234-9094', '', '2021-12-01 08:30:35.463526', '2021-12-01 08:30:35.463526'); args=['가계명#94', '', '042-1234-9094', '', '2021-12-01 08:30:35.463526', '2021-12-01 08:30:35.463526']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#95', '', '042-1234-9095', '', '2021-12-01 08:30:35.470507', '2021-12-01 08:30:35.470507'); args=['가계명#95', '', '042-1234-9095', '', '2021-12-01 08:30:35.470507', '2021-12-01 08:30:35.470507']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#96', '', '042-1234-9096', '', '2021-12-01 08:30:35.476491', '2021-12-01 08:30:35.476491'); args=['가계명#96', '', '042-1234-9096', '', '2021-12-01 08:30:35.476491', '2021-12-01 08:30:35.476491']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#97', '', '042-1234-9097', '', '2021-12-01 08:30:35.485466', '2021-12-01 08:30:35.485466'); args=['가계명#97', '', '042-1234-9097', '', '2021-12-01 08:30:35.485466', '2021-12-01 08:30:35.485466']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#98', '', '042-1234-9098', '', '2021-12-01 08:30:35.491451', '2021-12-01 08:30:35.491451'); args=['가계명#98', '', '042-1234-9098', '', '2021-12-01 08:30:35.491451', '2021-12-01 08:30:35.491451']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#99', '', '042-1234-9099', '', '2021-12-01 08:30:35.498432', '2021-12-01 08:30:35.498432'); args=['가계명#99', '', '042-1234-9099', '', '2021-12-01 08:30:35.498432', '2021-12-01 08:30:35.498432']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가계명#100', '', '042-1234-9100', '', '2021-12-01 08:30:35.505413', '2021-12-01 08:30:35.505413'); args=['가계명#100', '', '042-1234-9100', '', '2021-12-01 08:30:35.505413', '2021-12-01 08:30:35.505413']

# Slicing

In [11]:
qs = Shop.objects.all()

In [12]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (208)>,
 <Shop: Shop object (206)>,
 <Shop: Shop object (204)>,
 <Shop: Shop object (202)>,
 <Shop: Shop object (200)>]

# Conditions

In [13]:
qs = Shop.objects.all()

In [14]:
# fillter <-> exclude
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [15]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (208)>, <Shop: Shop object (207)>, <Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, '...(remaining elements truncated)...']>

In [16]:
# lt: less than               <
# lte: less than equal        <=
# gt: greater than            >
# gte: greater than equal     >=
qs.filter(
    pk__gte=5,
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [19]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [ ]:
# QuerySet is Lazy.

In [20]:
qs = Shop.objects.all()

In [21]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (208)>, <Shop: Shop object (207)>, <Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, '...(remaining elements truncated)...']>

In [22]:
qs = Shop.objects.all()
shop_list = list(qs)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

# Get 1Row

In [23]:
pk = 10
not_existed_pk=100000

In [24]:
shop = Shop.objects.get(pk=pk)  # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [25]:
Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()   # 데이터 전체 삭제함.

In [ ]:
# qs.delete()